<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RAserver Main Menu</title>
</head>
<body>
<h1>RAserver - Main Menu</h1>
<ul>
<li><a href="/agent/update">Agent update</a></li>
<li><a href="/agent/ctl">Agent Control</a></li>
<li><a href="/server/ctl">Server Control</a></li>
</ul>
</body>
</html>
